@use '../mixins/hover.scss' as *;

/*
    MOVIMIENTO Y SCALAS -> Translate, rotate y scale SIEMPRE
    MOSTRAR / OCULTAR -> Opacity SIEMPRE

    LA PROPIEDAD CORRESPONDIENTE

*/

.container{
    display: grid;
    grid-template-columns: repeat(3,200px);
    grid-template-rows: repeat(2,200px);
    gap: 1rem;
    
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    color: #333;
    font-size: 3rem;
}

.box-1{
    grid-column: 2 / 4;
}

.box-2{
    grid-row: 1 / 3;
}

